providers/travel-api/src/main/resources/sita/airportResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Sat Oct 17 2015 16:22:37 GMT+0200 (CEST) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="airportResponse">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="airports">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="airports" maxOccurs="unbounded">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="code" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                         <xs:attribute name="city" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="country" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="lat" type="xs:double"></xs:attribute>
                                                         <xs:attribute name="lng" type="xs:double"></xs:attribute>
                                                         <xs:attribute name="name" type="xs:string"></xs:attribute>
                                                         <xs:attribute name="timezone" type="xs:string"></xs:attribute>
                                                   </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
                     <xs:attribute name="authorisedAPI" type="xs:string"></xs:attribute>
                     <xs:attribute name="processingDurationMillis" type="xs:int"></xs:attribute>
                     <xs:attribute name="success" type="xs:string"></xs:attribute>
               </xs:complexType>
         </xs:element>
   </xs:schema>